<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meice.servicemeice.dao.LableMapper" >
  <resultMap id="BaseResultMap" type="com.meice.servicemeice.entity.Lable" >
    <id column="lableID" property="lableid" jdbcType="INTEGER" />
    <result column="lableName" property="lablename" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="cteateTime" property="cteatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    lableID, lableName, title, cteateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.meice.servicemeice.entity.LableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lable
    where lableID = #{lableid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lable
    where lableID = #{lableid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.meice.servicemeice.entity.LableExample" >
    delete from lable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.meice.servicemeice.entity.Lable" >
    insert into lable (lableID, lableName, title, 
      cteateTime)
    values (#{lableid,jdbcType=INTEGER}, #{lablename,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{cteatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.meice.servicemeice.entity.Lable" >
    insert into lable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lableid != null" >
        lableID,
      </if>
      <if test="lablename != null" >
        lableName,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="cteatetime != null" >
        cteateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lableid != null" >
        #{lableid,jdbcType=INTEGER},
      </if>
      <if test="lablename != null" >
        #{lablename,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="cteatetime != null" >
        #{cteatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.meice.servicemeice.entity.LableExample" resultType="java.lang.Integer" >
    select count(*) from lable
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lable
    <set >
      <if test="record.lableid != null" >
        lableID = #{record.lableid,jdbcType=INTEGER},
      </if>
      <if test="record.lablename != null" >
        lableName = #{record.lablename,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.cteatetime != null" >
        cteateTime = #{record.cteatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lable
    set lableID = #{record.lableid,jdbcType=INTEGER},
      lableName = #{record.lablename,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      cteateTime = #{record.cteatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.meice.servicemeice.entity.Lable" >
    update lable
    <set >
      <if test="lablename != null" >
        lableName = #{lablename,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="cteatetime != null" >
        cteateTime = #{cteatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where lableID = #{lableid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meice.servicemeice.entity.Lable" >
    update lable
    set lableName = #{lablename,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      cteateTime = #{cteatetime,jdbcType=TIMESTAMP}
    where lableID = #{lableid,jdbcType=INTEGER}
  </update>
</mapper>